body * {
    box-sizing: border-box;
}

.board-container {
    text-align: center;
}

.game-board {
    border: 1px solid black;
    display: inline-block;
}

.game-row {
    line-height: 1px;
    display: block;
}

.game-cell {
    display: inline-block;
    width: 10px;
    height: 10px;
}

.alive {
    background-color: black;
    border: 1px solid white;
}