body * {
    box-sizing: border-box;
}

.board-container {
    text-align: center;
}

.game-board {
    border: 1px solid black;
    display: inline-block;
}

.game-row {
    line-height: 1px;
    display: block;
}

.game-cell {
    display: inline-block;
    width: 7px;
    height: 7px;
}

.alive {
    background-color: black;
    border: 1px solid white;
}

.btn-with-margin {
    margin: 10px 0 10px 0;
}

.input-with-margin {
    margin-left: 10px;
}

.width-input {
    margin-right: 20px;
}

